<div class = "col col-md-8">
  <h1>Order summary</h1>
  <%= render 'admin/orders/order_information'%>
  <%= render 'admin/orders/order_order_items_table'%>
  <%= link_to "Back", admin_orders_path, class: "btn btn-primary"%>
</div>