<div class = "col col-md-7">
  <h1>Products available in store</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code<th>
          <th>Name</th>
          <th>Price</th>
          <th>Add product</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <%= render 'products/product', product: product%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>