<h1>Products available in store</h1>
<table>
  <tr>
    <th>Code<th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <th>
        <%= product.code %>
      </th>
      <th>
        <%= product.name %>
      </th>
      <th>
        <%= "#{product.price}  PLN" %>
      </th>
      <th>
      </th>
    </tr>
  <% end %>
</table>
